.left-btn-color {
    background-color: #d61214;
    border-color: #d61214;
}

.left-btn-color:hover {
    background-color: #721c24;
    border-color: #721c24;
}

.right-btn-color {
    border-color: #d61214;
    color: #d61214;
}

.right-btn-color:hover {
    background-color: #e2e6ea;
    border-color: #d61214;
    color: #d61214;
}
