.image-small-navbar {
   max-width: 100px;
}

.navbar-custom {
    background-color: #d61214;
}

li a {
    color: white;
    font-size: x-large;
}

.text-color {
    color: white;
}

.right {
   margin-right: 0;
}