<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{~/css/bootstrap.css}">
    <link rel="stylesheet" href="../static/css/login.css" th:href="@{~/css/login.css}">
    <link rel="stylesheet" href="../static/css/buttons.css" th:href="@{~/css/buttons.css}">
    <link rel="stylesheet" href="../static/css/font-awesome/css/all.css" th:href="@{~/css/font-awesome/css/all.css}"/>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-12 align-items-center ">
            <div class="text-center mx-5 my-2">
                <a href="https://essers.com">
                    <img src="../static/images/essers-logo-white.png" th:src="@{images/essers-logo-white.png}">
                </a>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="row justify-content-center">
                        <a href="https://www.facebook.com" class="col-md-1 mx-1 fab fa-facebook-square fa-2x "></a>
                        <a href="https://myaccount.google.com" class="col-md-1 mx-1 fab fa-google fa-2x "></a>
                        <a href="https://twitter.com/login" class="col-md-1 mx-1 fab fa-twitter-square fa-2x  "></a>
                        <a href="https://www.linkedin.com/login" class="col-md-1 mx-1 fab fa-linkedin fa-2x  "></a>
                    </div>
                </div>
            </div>

            <!--/*@thymesVar id="loginForm" type="com.tms.issuelist.model.User"*/-->
            <form class="my-3 mx-3" th:object="${loginForm}" th:fragment="loginForm" th:method="post">
                <div class="form-group row" style="font-size: large">
                    <label th:for="${#ids.next('userName')}" class="col-4 col-form-label text-right font-weight-bold" for="userName">
                        Username:
                    </label>
                    <div class="col-4">
                        <input type="text" id="userName" class="form-control" placeholder="Username"
                               th:field="${loginForm.userName}" th:errorClass="errorField">
                        <span th:if="${#fields.hasErrors('userName')}" class="errorMessage">Username is required</span>
                    </div>
                </div>
                <div class="form-group row" style="font-size: large">
                    <label th:for="${#ids.next('passWord')}" for="passWord" class="col-4 col-form-label text-right font-weight-bold">
                        Password:
                    </label>
                    <div class="col-4">
                        <input type="password" id="passWord" class="form-control" placeholder="Password"
                        th:field="${loginForm.passWord}" th:errorClass="errorField">
                        <span th:if="${#fields.hasErrors('passWord')}" class="errorMessage">Password is required</span>
                    </div>
                </div>
                <div class="form-group-row">
                    <div class="btn-group col-4 offset-4">
                        <button type="submit" value="submit" class="btn btn-primary left-btn-color">Log in</button>
                        <a class="btn btn-outline-secondary right-btn-color" href="/register">Sign up</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>